{% extends 'base.html' %} {% block content %}
<div class="container mb-5">
  <div class="row justify-content-center mt-5" style="color: white;
  background: black;">
    <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
      <h1 style="font: revert;font-size: xxx-large;">About Us!</h1>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
      <script>
        window.initializeCarousel = () => {
          $("#carouselExampleSlidesOnly").carousel({ interval: 500 })
        }
      </script>
      <style type="text/css">
        .carousel-inner img {
          height: 289px;
        }
      </style>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/img/res.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/img/res1.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/img/res2.png" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
      <p style="
      color: wheat;
    font-size: x-large;
">
        The restaurant is situated in the heart of the city. The restaurant gives you an ambience of the rural culture
        and has a warm friendly feeling to it. The food is made to perfection, our chefs only cook with the freshest
        ingredients, carefully sourced and provenance assured.
        The restaurant is quite open planned but has more private dining areas. Online food delivery available during
        pandemic. We all welcome welcome you to our restaurant and hoping to see you there.

      </p>

  </div>
  <div class="row justify-content-center mt-1">
    
    </div>
  </div>
</div>
{% endblock %}