{% extends 'base.html' %}

{% block content %}
{% load static %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js" xmlns=""></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      xmlns="http://www.w3.org/1999/html">
<div class="container mb-5" style="background: black;
color: wheat;">
    <div class="row justify-content-center mt-1">
        <h3>Pls enter info</h3>

                <div class="row">

    <form class="col s12"  method="get" >

      <div class="row">
        <div class="input-field col s6">


          <input id="first_name" name="fname" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">

          <input id="last_name" name="phno" type="text"  class="validate">
          <label for="last_name">Phone Number</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">

          <input id="email" name="email" type="text" class="validate">
          <label for="email">Email</label>

        </div>
      </div>

        <button type="submit"  class="btn btn-dark">Submit</button>
<a href="{% url 'final' %}" button class="btn btn-dark">Proceed</a>
    </form >
                </div>

</div>

</div>

  {% endblock content %}