{% extends 'base.html' %} {% block content %}

<div class="responsive">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center" style="    left: 534px; top: -37px;" >
<img src="/static/img/URBAN JUNGLE.png" style="
    height: 232px;
">
</div>
</div>
  </div>

<div class="container mb-5">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center" style="top: -99px;" >

      <a href="#" ><img src="https://fontmeme.com/permalink/210725/3fe735367dbd078b05a4780e492bb3c8.png" alt="plush-font" border="0
"></a>
      <a href="{% url 'order' %}" ><img src="/static/img/renew.png"></a>

    </div>
  </div>
</div>


{% endblock %}


