{% extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menu</title>


</head>
<body>
<h1><marquee>MENU</marquee></h1><br>
<h2>VEG</h2><br>
<input type="checkbox">Paneer Chilli<br>
<input type="checkbox">Paneer Chilli<br>
<input type="checkbox">Paneer Chilli<br>
<h2>NON VEG</h2><br>
<input type="checkbox">Chicken<br>
<input type="checkbox">Chicken<br>
<input type="checkbox">Chicken<br>
<button class><a href="/info">Proceed
</a></button>
</body>
</html>
{% endblock %}