<nav class="navbar navbar-expand-lg navbar-dark black" style="width: 100%;">
  <a class="navbar-brand" href="/" a href="https://fontmeme.com/graffiti-creator/"><img src="https://fontmeme.com/permalink/210725/73397a994f6c0bf2dc24a5800ff7a6d6.png" alt="graffiti-creator" border="0"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="/about/" a href="https://fontmeme.com/graffiti-creator/"><img src="https://fontmeme.com/permalink/210725/f9b12ae98dd1d4edbb9c4def46e9671c.png" alt="graffiti-creator" border="0"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" href="{% url 'order' %}" a href="https://fontmeme.com/graffiti-creator/"><img src="https://fontmeme.com/permalink/210725/086da15ac7ef33e56d3268dec18d7bd2.png" alt="graffiti-creator" border="0"></a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
    </ul>
  </div>
</nav>