{% extends 'base.html' %} {% block content %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>menu</title>
</head>

<body>
  <marquee style="
  font-size: bold;
  font-weight: bold;
    font-size: 50px;">
    MENU</marquee>
  </h1>
  <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center" style="
    width: 399px;
">
    <img src="/static/img/bg.png" style="
    height: 237px;

">
  </div>

  <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center" style="left: 905px; width: 399px; top: -1cm;">

    <img src="/static/img/chicken.png" style="height: 237px;">
  </div>
  </div>

  <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center" style="
    left: 432px;
    top: -11cm;
    width: 437px;
   ">



    <br>
    <h2>VEG</h2>
    <br>
    <h2>NON VEG</h2>
    <br>
    <button type="submit">ADD TO CART</button>
  </div>


</body>

</html>
{% endblock %}